@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

/* normal text fontfamily link */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Sans:wght@300&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300;400&family=Yellowtail&display=swap');

/* heading text fontfamily link */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300;400&family=Yellowtail&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 675px;
  margin: auto;
  position: relative;
}
.container{
  width: 675px;
  margin: auto;
  height: auto;
  display: grid;
  grid-template-columns: 42% 1fr;
  box-shadow: 0px 0px 7px 2px #ad9a6f;
  background-color: #f7f8fa;
}
.second-div{
  padding-top: 60px;
}
.name-data{
  width: 100px;
  height: 647px;
  background-color: #ee9b5c;
  padding: 30px 60px 50px 100px;
  margin-top: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ver-data{
  transform: rotate(-90deg);
  position: absolute;
  top: 480px;
  left: -105px;
  display: inline-block;
}
.name{
  font-size: 45px;
  letter-spacing:7px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name-para{
  font-size: 20px;
  letter-spacing: 5px;
  word-spacing: 3px;
  float: right;
  font-family: Libre Franklin;
  color: rgb(39, 38, 38);
}
.img{
  width: 225px;
  height: 259px;
  position: absolute;
  top: 30px;
  left: 39px;
}
.img img{
  width: 100%;
  height: 100%;
}
.contact,.hello,.education{
  font-family: PT Serif;
  font-size: 13px;
}
.heading-contact,.heading-hello,.heading-education{
  margin-bottom: 20px;
  margin-top: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
}
/* .contact{
  padding-top: 25px;
} */
.heading-hello{
  font-size: 30px;
  color: #ee9b5c;
  margin-top: 60px;
}
.hello{
  margin-right: 30px;
}
.hello-para{
  text-align: justify;
}
.con-para1,.con-para2,.con-para3,.con-para4{
  margin-bottom: 8px;
}
.education1{
  margin-bottom: 20px;
}
.education{
  margin-bottom: 40px;
}
.edu-para{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.year{
  font-size: 17px;
}
.para1{
  width: 81px;
  height: 69px;
  background-color: #ee9b5c;
  z-index: 1;
  position: absolute;
  left: 223px;
  top: 0px;
}
.para2{
  width: 28px;
  height: 100px;
  background-color: #ee9b5c;
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 0px;
}
.para3{
  width: 33px;
  height: 23px;
  background-color: #313236;
  z-index: 1;
  position: absolute;
  right: 407px;
  top: 333px;
}
